{{ define "main" }}
  <article
    class="px-6 mx-auto max-w-2xl mb-16 text-gray-700 justify-self-center sm:px-4 md:px-0"
  >
    <h1 class="text-center font-light text-5xl m-0 dark:text-gray-200">
      {{ .Title }}
    </h1>
    {{ .Content }}
    <div class="w-48 m-auto my-8 border-accent-400 border-2 rounded-sm"></div>
    <div class="grid md:grid-cols-2 gap-4">
      {{ range .Data.Terms.ByCount }}
        {{ $permalink := .Page.Permalink }}
        <div
          class="bg-white dark:bg-gray-700 shadow-sm hover:shadow-lg transition-shadow border border-gray-200 rounded-lg mb-5"
        >
          <div>
            <a href="{{ $permalink }}"> </a>
          </div>
          <div class="p-5">
            <a href="{{ $permalink }}">
              <h5
                class="text-gray-900 dark:text-white font-bold text-2xl tracking-tight mb-2"
              >
                {{ .Page.Title }}
              </h5>
            </a>
            {{ $pageCount := len .Pages }}
            <p class="text-gray-500 text-sm dark:text-gray-200">
              {{ $pageCount }}
              post{{ if ne $pageCount 1 }}s{{ end }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
    {{ partial "widgets/pagination.html" . }}
  </article>
{{ end }}
