{{ define "main" }}
  <article
    class="px-6 mx-auto max-w-2xl mb-16 text-gray-700 justify-self-center sm:px-4 md:px-0"
  >
    <h1 class="text-center font-light text-5xl m-0 dark:text-gray-200">
      {{ .Title }}
    </h1>
    <div class="dark:text-gray-200 m-2">
      {{ .Content }}
    </div>
    <div class="w-48 m-auto my-8 border-accent-400 border-2 rounded-sm"></div>

    <div class="grid md:grid-cols-2 gap-4">
      {{ range .Pages.ByPublishDate.Reverse }}
        {{ partial "widgets/post-card.html" . }}
      {{ end }}
    </div>
  </article>
{{ end }}
