@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/FiraSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/FiraSans-ThinItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/FiraSans-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/FiraSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/FiraSans-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FiraSans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/FiraSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/FiraSans-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/FiraSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/FiraSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/FiraSans-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/FiraSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/FiraSans-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/FiraSans-BlackItalic.ttf) format("truetype");
}
