{{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
{{ with $cv.basics }}
<!-- Name -->
<header class="flex items-center mb-8 resume__md:mb-11">
  {{ with .name }}
    <div class="initials-container mr-5 text-resume__base leading-none text-white bg-gray-700 font-medium print:bg-black px-3"
      style="padding-bottom: 0.6875rem; padding-top: 0.6875rem; /*11px*/">
      {{ $name_parts := split . " "  }}
      <div class="initial text-center" style="padding-bottom: 0.1875rem; /*3px*/">
        {{ range first 1 $name_parts }}{{ substr . 0 1 }}{{ end }}
      </div>
      <div class="text-center initial">
        {{ range last 1 $name_parts }}{{ substr . 0 1 }}{{ end }}
      </div>
    </div>
    <div class="flex flex-wrap">
      <h1 class="text-2xl font-semibold text-gray-700 pb-px">
        {{ . }}
      </h1>
    {{ end }}
    {{ with .label }}
      <h2 class="basis-full">{{ . }}</h2>
    {{ end }}
    </div>
  </header>
  <!-- end Name -->
{{ end }}