{{ $publishDate := .PublishDate.Format "January 2, 2006" }}
{{ $lastmod := .Lastmod.Format "January 2, 2006" }}
<div class="pb-2 text-gray-500">
  <span class="font-bold">
    {{ partial "icons/ionicons" (dict "logoname" "calendar-outline" "size" 5) }}
    Posted:
  </span>
  {{/* h-entry */}}
  <time
    class="dt-published"
    datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z0100" }}"
    ><a class="u-url" href="{{ .Permalink }}">{{ $publishDate }}</a></time
  >
</div>
{{ if and (ne $lastmod $publishDate) (gt .Lastmod .PublishDate) }}
  <div class="pb-2 text-gray-500">
    <span class="font-bold">
      {{ partial "icons/ionicons" (dict "logoname" "refresh-outline" "size" 5) }}
      Last Updated:
    </span>
    {{ $lastmod }}
  </div>
{{ end }}
