{{ $mentions := (where (where (where .Site.Data.webmentions "relativeTarget" "==" $.RelPermalink) "content" "!=" "") "type" "!=" "like") }}
{{ $likes := (where (where .Site.Data.webmentions "relativeTarget" "==" $.RelPermalink) "type" "==" "like") }}

{{ if $mentions }}
  <h4>Responses</h4>
  {{ range $mentions }}
    <article class="u-comment h-cite mb-5">
      <div>
        <a
          rel="author"
          class="u-author h-card u-url font-bold text-sm"
          href="{{ .url }}"
        >
          {{ $name := .author.name | safeHTML }}
          {{ if isset .author "picture" }}
            <div>
              <img
                class="u-photo mr-2 float-left w-8 h-8 rounded-full border border-gray-200"
                loading="lazy"
                src="{{ $.Site.Params.webmention.webmentionUrl }}{{ .author.picture | safeHTML }}"
                alt="{{ $name }}"
              />
            </div>
          {{ else }}
            <div>
              <img
                class="u-photo mr-2 float-left w-8 h-8 rounded-full border border-gray-200"
                loading="lazy"
                src="/img/anonymous-avatar.png"
                alt="{{ $name }} anonymous photo"
              />
            </div>
          {{ end }}
          {{ $name }}
        </a>
        •
        <time class="dt-published text-sm" datetime="{{ .published }}">
          {{- $publishedAsDate := .published | time -}}
          {{ partial "reldate.html" $publishedAsDate }}
        </time>
      </div>
      <p class="p-content p-name text-sm">{{ .content | safeHTML }}</p>
    </article>
  {{ end }}
  <hr />
{{ end }}
